@if (products.length) {
<mat-card
  class="container p-4 bg-white rounded"
>
  <div class="d-flex justify-content-around">
    @for (product of products; track product.id) {
    <mat-card class="mat-card-color p-3">
      <span
        ><strong>{{ product.category?.name }}</strong> </span
      ><br />
      <div>
        <span> Download: {{ product.speedDownload + " MB" }} <br /> </span>
        <span> Upload: {{ product.speedUpload + " MB" }} <br /> </span>
        @if (product.valueWifi) {
        <span>Wifi: {{ product.valueWifi | currency : "BRL" }} <br /></span>
        } @if (!product.valueWifi) {
        <span>Wifi Grátis <br></span>
        } @if (product.taxaAdesao) {
        <span>Adesão: {{ product.taxaAdesao | currency : "BRL" }} <br /></span>
        } @if (!product.taxaAdesao) {
        <span>Sem Taxa de Adesão</span>
        <span> Valor: {{ product.value | currency : "BRL" }} </span>
        }
        <br />
        <br />
      </div>
      <div >
        <button class="btn btn-success" (click)="openModalViewQrCode()">
          Contrate Agora &nbsp;<em class="fa-brands fa-whatsapp"></em>
        </button>
      </div>
    </mat-card>
    }
  </div>
</mat-card>
}
