.align-center {
  display: flex;
  align-items: center; //centraliza horizontalmente
  justify-content: center;
  width: 50%;
  height: 50%; //cetraliza verticalmente
}

@media (min-width: 1280px) {
  .align-center {
    width: 80%;
  }
}