<app-drag-and-drop
  [title]="title"
  (closedDialog)="closedDialog()"
></app-drag-and-drop>
<form [formGroup]="form" class="p-4">
  <div class="row">
    <div class="col-6">
      <label for="nome">Nick:</label>
      <input
        class="form-control"
        type="text"
        minlength="4"
        formControlName="nick"
        placeholder="Nick"
      />
      <app-erro [setControl]="form.get('nick')"></app-erro>
    </div>
    <div class="col-5">
      <label for="senha">{{ labelPassowrd }}:</label>
      <input
        class="form-control"
        type="password"
        formControlName="password"
        [placeholder]="labelPassowrd"
      />

      <app-erro [setControl]="form.get('password')"></app-erro>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <label for="email">E-mail</label>
      <input type="email" formControlName="email" class="form-control" />
      <app-erro [setControl]="form.get('email')"></app-erro>
    </div>
    <div class="col-5">
      <mat-label>Papeis</mat-label>
      <mat-select
        [matTooltip]="getSelectedRolesMatTooltip()"
        formControlName="roles"
        class="form-control"
        multiple
        [compareWith]="compareFn"
      >
        <mat-select-trigger>
          {{ getSelectedRolesLabel() }}
        </mat-select-trigger>

        @for (role of listRoles; track role) {
        <mat-option [value]="role">{{ role.name }}</mat-option>
        }
      </mat-select>

      <app-erro [setControl]="form.get('roles')"></app-erro>
    </div>
    <div class="col-1">
      <br />
      <button
        class="btn btn-primary"
        matTooltip="Adicionar um papel"
        (click)="openRoleDialog()"
      >
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="mt-2 d-flex justify-content-between">
    <button
      matTooltip="Salvar"
      [disabled]="!form.valid"
      class="btn btn-primary"
      (click)="save()"
    >
      <i class="fa-regular fa-floppy-disk"></i>
    </button>
  </div>
</form>
