<mat-card
  class="align-visualization-company mt-5 container shadow p-3 mb-5 bg-white rounded"
>
  <div class="h3 text-center bold">
    <p class="font-bold">{{ aboutTheCompany() | uppercase }}</p>
    <p>
      Fundada em 2015, nós da Suprema Network Telecom sempre atuamos com a
      missão de levar para você a melhor conexão de internet com os menores
      preços, fomos evoluindo junto a tecnologia e hoje estamos trabalhando com
      uma rede 100% fibra óptica, contamos com uma equipe técnica de alto nivel,
      de forma que possamos entregar para você uma conexão estável de altíssima
      qualiade. Não perca tempo e entre já em contato conosco para conhecer
      nossos planos.
    </p>
    <p>
      <button class="btn btn-primary" (click)="openModalQrCode()">
        Assine já
      </button>
    </p>
  </div>
</mat-card>
