<mat-card class="mt-5 container">
  <div class="d-flex justify-content-between p-3">
    <h2>Papeis</h2>
    <button
      matTooltip="Salvar"
      class="btn btn-primary"
      (click)="openDialog()"
    >
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <mat-card-content class="mt-4">
    <table
      mat-table
      [dataSource]="dataSource()"
      matSort
      (matSortChange)="changeSortBy($event)"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Ordernar pelo name"
        >
          Nome
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

         <ng-container matColumnDef="description">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Ordernar pelo description"
        >
          Descrição
        </th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>


      <ng-container matColumnDef="actions">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by symbol"
        ></th>
        <td mat-cell *matCellDef="let element">
          <div class="btn-group">
            <button
              [appAuthRole]="roles"
              matTooltip="Editar usuario"
              class="btn btn-secondary btn-sm"
              (click)="openDialog(element)"
            >
              <i class="fa-regular fa-pen-to-square"></i>
            </button>
            <button
              [appAuthRole]="roles"
              matTooltip="Deletar usuario"
              class="btn btn-danger btn-sm"
              (click)="openDialogDeleteUser(element.uuid)"
            >
              <i class="fa-regular fa-trash-can"></i>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <!-- 🔽 Adicione esta linha -->
      <tr class="mat-row" *matNoDataRow>
        <td
          class="mat-cell text-center p-4"
          [attr.colspan]="displayedColumns.length"
        >
          Nenhum registro encontrado.
        </td>
      </tr>
    </table>
    <mat-paginator
      #paginator
      (page)="changePage()"
      [length]="totalItens()"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </mat-card-content>
</mat-card>
