@media (max-width: 778px) {
  .btn-outline-primary {
    display: none;
  }
}

@media (max-width: 450px) {
  .btn-outline-success {
    display: none;
  }
}
mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
}

mat-sidenav-container {
    height:100%;
}