<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="container">
    <a
      ><strong>{{ nameApplication | uppercase }}</strong></a
    >
    <div>
      <button class="btn btn-outline-primary">Central do Cliente</button>
      &nbsp; @if (isLoggedIn) {
      <button (click)="openDialog()" class="btn btn-outline-success">
        Area Admin
      </button>
      }
    </div>
    <div>
      @if (!isLoggedIn) {
      <button mat-flat-button (click)="openDialog()">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      } @else {
      <button mat-flat-button [matMenuTriggerFor]="menu">
        <mat-icon>emoji_people</mat-icon>
        {{ userName | titlecase }}
      </button>
      }
    </div>
  </div>
</nav>

<mat-menu #menu="matMenu">
  @for (item of itensMenu; track item) {
  <button mat-menu-item (click)="item.function()">
    <mat-icon>{{ item.icon }}</mat-icon>
    <span>{{ item.label }}</span>
  </button>
  }
</mat-menu>
