@media (max-width: 778px) {
  .btn-outline-primary {
    display: none;
  }
}

@media (max-width: 450px) {
  .btn-outline-success {
    display: none;
  }
}


.sidenav-container {
  height: 100vh; /* Garante que o container tenha 100% da altura da viewport */
}

.sidenav {
  width: 250px; /* Ajuste a largura como preferir */
}


.main-content {
  flex: 1;
  overflow: auto;
}