<mat-card class="container border" style="margin-top: 40px">
  <div class="mt-2 d-flex justify-content-between">
    <button (click)="redirecionarPagePrincipal()" class="btn btn-success">
      <em class="fa-solid fa-arrow-left"></em>&nbsp; Voltar a pagina principal
    </button>

    <div class="btn-group">
      <button class="btn btn-primary" (click)="openDialogDeleteProduct()">
        <i class="fa-solid fa-users-gear"></i>
        &nbsp; Controle de Usuarios
      </button>
    </div>
  </div>

  <!-- <app-list-products [lengthCategory]="totalCategory"></app-list-products>

  <app-list-category
    (totalItensParam)="getLengthCategory($event)"
  ></app-list-category> -->
</mat-card>
