@if (authService.isLogado()) {
<div class="text-center p-4">
  <i class="fa-solid fa-thumbs-up"></i> <br />
  <h4>Você já esta logado!!</h4>
  <button (click)="redirectionTo('/user')" class="btn btn-secondary mt-1">
    <i class="fa-solid fa-screwdriver-wrench mr-4"></i>Ir para area admin
  </button>
</div>
} @else {
<app-drag-and-drop
  [title]="titleDialog"
  (closedDialog)="cancel()"
></app-drag-and-drop>
<mat-dialog-content>
  <form [formGroup]="form" (submit)="verificationLogin()">
    <mat-form-field [style.width.%]="100">
      <mat-label>Login</mat-label>
      <input
        matInput
        id="login"
        name="login"
        formControlName="login"
        placeholder="Login"
      />
    </mat-form-field>
    
    <mat-form-field [style.width.%]="100">
      <mat-label>Senha</mat-label>
      <input
        matInput
        id="name"
        type="password"
        name="senha"
        formControlName="senha"
        placeholder="Senha"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button (click)="verificationLogin()">Logar</button>
</mat-dialog-actions>
}
